@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-300.eot'); /* IE9 Compat Modes */
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-300.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-300.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-300italic - latin_latin-ext */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 300;
    src: url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-300italic.eot'); /* IE9 Compat Modes */
    src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightIt'),
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-300italic.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-300italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-regular - latin_latin-ext */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-italic - latin_latin-ext */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    src: url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-italic.eot'); /* IE9 Compat Modes */
    src: local('Source Sans Pro Italic'), local('SourceSansPro-It'),
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-italic.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-600 - latin_latin-ext */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-600.eot'); /* IE9 Compat Modes */
    src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'),
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-600.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-600.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-600italic - latin_latin-ext */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 600;
    src: url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-600italic.eot'); /* IE9 Compat Modes */
    src: local('Source Sans Pro Semibold Italic'), local('SourceSansPro-SemiboldIt'),
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-600italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-600italic.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-600italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-700 - latin_latin-ext */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/admin-lte/source-sans-pro-v9-latin_latin-ext-700.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    background: #222D32;
    height: 350px;
    padding: 0;
    margin: 0;
}
a:focus{
    outline:none;
}
.container-login {
    min-height: 0;

    color: #333333;
    margin-top: 65px;
    padding: 0;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container-login > section {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
}
#top-bar {
    display: inherit;
}
.nav-tabs.nav-justified {
    border-bottom: 0 none;
    width: 100%;
}
.nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
    font-size:18px;
    float: none;
}
.container-login .nav-tabs.nav-justified > li > a,
.container-login .nav-tabs.nav-justified > li > a:hover,
.container-login .nav-tabs.nav-justified > li > a:focus {
    background: #3C8DBC;
    border: medium none;
    color: #ffffff;
    margin-bottom: 0;
    margin-right: 0;
    border-radius: 0;
}

.container-login .nav-tabs.nav-justified > li > a:hover,
.container-login .nav-tabs.nav-justified > li > a:focus {
    background: #367FA9;
}

.tabs-login {
    background: #ECF0F5;
    border: medium none;
    margin-top: -1px;
    padding: 10px 30px;
}
.container-login h2 {
    color: #3C8DBC;
}
.form-control {
    background: #ffffff none;
    border: 1px solid #999999;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #333333;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.container-login .checkbox {
    margin-top: -15px;
}
.container-login button {
    background-color: #3C8DBC;
    border-color: #3978A5;
    color: #ffffff;
    border-radius: 0;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
    width: 100%;
}
.container-login button:hover,
.container-login button:focus {
    background: #367FA9;
    border-color: #357CA5;
}
.container-login section{
    background-color:#ECF0F5;
    margin:0 auto;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.error_area{
    padding-bottom:30px;
    border-radius: 0px;
}
@media all and (min-width: 1400px){
    .container-login section{
        width:600px;
    }
}

@media all and (min-width: 600px) and (max-width: 1399px){
    .container-login section{
        width:480px;
    }
}

@media all and (min-width: 400px) and (max-width: 599px){
    .container-login section{
        width:375px;
    }
}

@media all and (max-width: 399px){
    .container-login section{
        width:100%;
    }
}